<ul style="filter: grayscale(100%);" class="list-unstyled list list-payment">
              {%- for type in shop.enabled_payment_types -%}
              <li class="list-payment__item">
                {{ type | payment_type_svg_tag: class: 'icon' }}
              </li>
              {%- endfor -%}
            </ul>