
@font-face {
  font-family: "Avenir Next Rounded";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//greenjet-italy.it/cdn/fonts/avenir_next_rounded/avenirnextrounded_n4.bf9f8a9255b73d6855898a92a71e46e66762cb01.woff2?h1=ZTFiMWJjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h2=Z3JlZW5qZXRpdGFsaWEuY29t&h3=Z3JlZW5qZXQtaXRhbHkuaXQ&hmac=820f36c14a6f3e26450bc04c8b339231ef607afe9bc7377377708156412f28bd") format("woff2"),
       url("//greenjet-italy.it/cdn/fonts/avenir_next_rounded/avenirnextrounded_n4.df1527689b7a5f1bae5e07a883e90d1f4bbcfce9.woff?h1=ZTFiMWJjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h2=Z3JlZW5qZXRpdGFsaWEuY29t&h3=Z3JlZW5qZXQtaXRhbHkuaXQ&hmac=521eae800f55c584a6ec2c6da4432a0eb0a8dfd41488f30b69a93e4149bef67b") format("woff");
}

@font-face {
  font-family: "Avenir Next Rounded";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//greenjet-italy.it/cdn/fonts/avenir_next_rounded/avenirnextrounded_n7.6cb798f800a36b5f1a6b8b8a75580d4364fdb0a0.woff2?h1=ZTFiMWJjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h2=Z3JlZW5qZXRpdGFsaWEuY29t&h3=Z3JlZW5qZXQtaXRhbHkuaXQ&hmac=068930948136a98a808ce6094bb44dc4498fe22c761334d1533e69e3687b1ba7") format("woff2"),
       url("//greenjet-italy.it/cdn/fonts/avenir_next_rounded/avenirnextrounded_n7.24cdea35e481e1d764eb230e7fad24db6fa031d2.woff?h1=ZTFiMWJjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h2=Z3JlZW5qZXRpdGFsaWEuY29t&h3=Z3JlZW5qZXQtaXRhbHkuaXQ&hmac=d4fcb382f13ae3a99cd4ea89f42a511bf8f4e896e9f3208fe78864d2797ee1c7") format("woff");
}


@font-face {
  font-family: "Avenir Next Rounded";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("//greenjet-italy.it/cdn/fonts/avenir_next_rounded/avenirnextrounded_i7.a91f884a85eb2a05d1716a37ab63ebab9c966032.woff2?h1=ZTFiMWJjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h2=Z3JlZW5qZXRpdGFsaWEuY29t&h3=Z3JlZW5qZXQtaXRhbHkuaXQ&hmac=761dcf909ba3d8fbad88678a9e4f268cbfa6c04d33dc8208a9170d4dda4aaabd") format("woff2"),
       url("//greenjet-italy.it/cdn/fonts/avenir_next_rounded/avenirnextrounded_i7.1a45605c53c4364439c320111e585a7d61e7bebf.woff?h1=ZTFiMWJjLmFjY291bnQubXlzaG9waWZ5LmNvbQ&h2=Z3JlZW5qZXRpdGFsaWEuY29t&h3=Z3JlZW5qZXQtaXRhbHkuaXQ&hmac=6e961741027af1bc2e834e63714da5a4fab15eb23a557e1ec97704e6ddc91343") format("woff");
}






:root {
  --black: #000000;
  --white:#ffffff;
  --gray: #ececec;
  --dark-gray: #747474;
  --green:#6cad61;
  --red:#ec7c7c;
  --heading-font-family:'Syncopate',sans-serif;
  --font-family:"Avenir Next Rounded",sans-serif;
  --thin:100;
  --light:300;
  --normal:400;
  --medium:500;
  --semibold:600;
  --bold:700;
  --extrabold:900;
  --theme-color: #7cb39e;
  --theme-light-color: rgba(124, 179, 158, 0.1);
  --cartDotColor: #7cb39e;
  --colorBtnPrimary: #2183a3;
  --colorBtnPrimaryText: #ffffff;  
  --colorBtnSecondary: #7cb39e;
  --colorBtnSecondaryText:#ffffff;  
  --colorBody: #ffffff;
  --secondaryColorBody: #f5fcff;
  --colorTextBody: #333333;
  --colorImageBg: #e3eff5;
  --colorTextSavings: #ffffff;
  --colorBgSavings: #2183a3;
  --heading_color: #222222;
  --heading_spacing: 0.0em;
  --base_spacing: 0.025em;
  --base_line_height: 1.6;
  --text_size: 12px;
}
  